# ignore all contents:
# *

# ignroe all dir:
# */

# ignore contents under directory:
# directory name/*
# !directory name/file name needed to be tracked


# =========================================================== #
# ignore all files under build directory
build/

# ignore all files under OBJ directory
OBJ/
Objects/

# Ignore the entire "整体方案" folder under VERSION2
VERSION2/整体方案.md
VERSION2/.assets
# Ignore the .assets folder under VERSION2/MAIN
VERSION2/MAIN/.assets/
